
.header-style
{
    display: flex;
    padding: 30px;
    justify-content: center;
    background-color: #f0ae34;
}

.container{
    padding: 20px;
}


.inputs{
    display: flex;
    justify-content: center;
}

.label{
    margin-left:5px;
}
.btn
{
    display: inline;
    background-color: #575856;
    border: none;padding: 20px;
    cursor: pointer;
    width: 100%;
    border: 1px solid rgb(240, 73, 87);
    border-radius: 6px;
    margin: 5px;
    color: white;
    font-size: x-large;
}

.outputContainer{
    border: 2px solid #575856;
}
